@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Verdana&display=swap');

$bg-dark: hsl(218, 23%, 9%);
$bg-light: hsl(213, 23%, 17%);
$font-bright: hsl(36, 10%, 90%);
$font-dark: hsl(208, 25%, 65%);
$font-big: 14px;
$font-small: 13px;
$font-xs: 10px;
$spacing: 16px;
$accent-primary: hsl(205, 86%, 58%);
$accent-primary-dark: hsl(205, 86%, 38%);
$accent-secondary: hsl(155, 68%, 38%);
$accent-error: rgb(244, 67, 54);
$border-radius: 8px;

*, *::after, *::before {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     font-family: "Montserrat", sans-serif;
}

body {
     background-color: $bg-dark;
     color: $font-bright;
}

canvas {
     position: fixed;
     top: 0;
     left: 0;
     z-index: -10;
}

.form__group {
     position: relative;
     display: flex;
     flex-direction: column;

     .error {
          display: none;
          color: $accent-error;
          margin-top: calc($spacing / 4);
          padding-inline: calc($spacing * 0.75);
     }

     .show-password {
          position: absolute;
          top: 25px;
          right: $spacing;
          translate: 0px -50%;
          font-size: $font-small;
          cursor: pointer;
          
          .show, .hide {
               display: none;
               scale: 2;
               fill: white;
          }
          &.shown .show {
               display: block;
          }
          
          &.hidden .hide {
               display: block;
          }
     }

     &.error {
          .error {
               display: block;
          }

          .form__label {
               color: $accent-error;
          }

          .form__field {
               $deltaX: 10px;
               outline: 1px solid $accent-error;
               animation: shake 250ms linear;

               @keyframes shake {
                    25% {
                         translate: $deltaX 0px;
                    }
                    50% {
                         translate: 0px 0px;
                    }
                    75% {
                         translate: -$deltaX 0px;
                    }
                    100% {
                         translate: 0px 0px;
                    }
               }

               &:hover {
                    outline: 3px solid $accent-error;
               }
               
               &:placeholder-shown ~ .form__label {
                    top: 25px;
               }
          }
          .form__field:focus {
               outline: 3px solid $accent-error;

               ~ .form__label {
                    top: calc($spacing / -4);
               }
          }

          .show,.hide {
               fill: $accent-error;
          }
     }

 }
 .form__field {
     width: 100%;
     outline: 1px solid $accent-primary;
     border-radius: $border-radius;
     border: none;
     font-size: $font-big;
     color: $font-bright;
     padding: $spacing;
     background: transparent;
     transition: border-color 0.2s;

     &::placeholder {
         color: transparent;
     }
     &:hover {
          outline: 3px solid $accent-primary;
     }

     // input is empty and not focused
     &:placeholder-shown ~ .form__label {
         font-size: 1.25rem;
         top: 25px;
         background-color: transparent;
     }
 }

 // input is not focused
 .form__label {
     pointer-events: none;
     position: absolute;
     top: calc($spacing / -4);
     translate: 0px -50%;
     left: calc($spacing / 2);
     transition: 0.2s;
     color: $accent-primary;
     background-color: $bg-dark;
     font-size: 1rem;
     padding-inline: calc($spacing / 4);
 }

 .form__field:focus {
      font-weight: 700;
      outline: 3px solid $accent-primary;
      border-image-slice: 1;
      
      // input is focused
      ~ .form__label {
          top: calc($spacing / -4);
          font-size: 1rem;
          font-weight: 700;
          background-color: $bg-dark;
      }
 }

 input[type="password"] {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: $font-big;
     font-weight: 700;
}